
h1 {color:#39c130;font-family:impact;text-align:center;letter-spacing:.25em}
p {font-family:bookman;text-align:center}
div, h3{font-family:impact;color:#1748a0;font-size:20px;text-align:center}
table, tr, td {border:1px solid black; font-family:bookman}
ul {font-family:bookman;text-align:center}
body {background-color:#80e5e4}
hr {color:#39c130}